*{
    padding: 0;
    margin:0;
}
.section{
    position: absolute;
    margin-top: 50px;
    left: 0;
    top:785px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.section h2{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 40px;
    width: 350px;
    height: 30px;
    left: 15%;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(252, 247, 247, 0.342);
    letter-spacing: 0.02em;
    margin-bottom: 8%;
    color: rgb(8, 8, 8);
    padding-left: 5px;
    border-left: 9px solid rgb(2, 13, 155);
}
.section-project{
    background-color: rgba(252, 250, 250, 0.979);
    width: 80%;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
}
.section-project .section-project-containers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 30px;
    width: 100%;
}
.section-project .tittle{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: -15px;
    margin-bottom: 10px;
    gap: 20px;
}
.section-project .tittle h4{
    padding-left: 15px;
    padding-right: 15px;
    width: 350px;
    font-size: 18.5px;
    font-weight: 500;
    font-family: 'Noto Serif';
    line-height: 20px;
    letter-spacing: 0.02em;

}
.section-project .section-project-containers .project-container{
    box-shadow: 3px 2px 8px 3px  rgba(0, 0, 0, 0.25) ;
    height: 230px;
    width: 320px;
    overflow: hidden;
}
.section-project .project-container a .e-commerce{
    position: relative;
    background-size: cover;
    left: 0px;
    width: 350px;
    height: 250px;
}
.section-project .project-container a .dashboard{
    position: relative;
    background-size: cover;
    left: -20px;
    width: 350px;
    height: 250px;
}
.section-project .project-container a .strangerthings{
    position: relative;
    background-size: cover;
    top: -30px;
    left: 0px;
    width: 350px;
    height: 300px;
}