
<div class="section">
    <h2>Proyectos</h2>
    <div class="section-project">
        <div class="section-project-containers">             
            <div class="project-container">
                <a href="">
                    <img src="https://th.bing.com/th/id/OIP.TefutngtdYUUhqR0TtDUKAHaDV?w=318&h=157&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt=""></a><h4>Ecommerce</h4></div>
            <div class="project-container">
                <a href="">
                    <img src="https://th.bing.com/th/id/OIP.kxhX0keOvhOFSqMzqWlt1wHaFj?w=237&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt=""></a><h4>Dashboard</h4></div>
            <div class="project-container">
                <a href="">
                    <img src="https://th.bing.com/th/id/OIP.dItztmQ-IdPywX8ASXfALgHaD4?w=340&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt=""></a><h4>Stranger Things</h4></div>
        </div>
        <div class="tittle">
            <h4>Ecommerce</h4>
            <h4>Dashboard</h4>
            <h4>Stranger Things</h4>
        </div>
        </div>
    <div class="section-project">
        <div class="section-project-containers">    
            <div class="project-container">
                <a href="">
                    <img src="https://th.bing.com/th/id/OIP.TefutngtdYUUhqR0TtDUKAHaDV?w=318&h=157&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt=""></a></div>
            <div class="project-container">
                <a href="">
                    <img src="https://th.bing.com/th/id/OIP.kxhX0keOvhOFSqMzqWlt1wHaFj?w=237&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt=""></a></div>
            <div class="project-container">
                <a href="">
                    <img src="https://th.bing.com/th/id/OIP.dItztmQ-IdPywX8ASXfALgHaD4?w=340&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt=""></a></div>
        </div>
        <div class="tittle">
            <h4>Ecommerce</h4>
            <h4>Dashboard</h4>
            <h4>Stranger Things</h4>
        </div> 
    </div>
</div>