*{
    padding: 0;
    margin: 0;
}
/************************* laptop ****************************/
@media screen and (min-width:1000px) {
    .banner{
        width: 100%;
        height: 700px;
    }
    .banner img{
        width: 100%;
        height: 700px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 80%;
    
    }
    .banner-h1{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 350px;
        height: 200px;
        left: 20%;
        top:100px;
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;  
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        animation: moveH1 1.5s 1;
        transform: translateY(-10px);
        animation-fill-mode: forwards;
    }
        @keyframes moveH1 {
            0%{transform: translateY(-10px); opacity: 0;}
            100%{transform: translateY(100px); opacity: 1;}
        }
    .banner-h1 .btn-cv{
        text-decoration: none;
        width: 150px;
        padding: 5px;
        height: 40px;
        cursor: pointer;
        color: white;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid white;
        border-radius: 20px;
        background-color: transparent;
    }
    .banner-h1 .btn-cv:hover {
        transition: 0.5s;
        color: black;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid white;
        border-radius: 20px;
        background-color: white;
        opacity: 90%;
    }
    .banner-h1 p {
        margin-top: 15px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(182, 181, 181, 0.25);
    }
    .banner-h1 span{
        font-size: 35px;
        font-weight: 600;
        font-family: 'Noto Serif';
    }
     .perfil-img{
        background-color: black;
        position: relative;
        width: 225px;
        height: 350px;
        left: 60%;
        top: -50px;
        overflow: hidden;
        border-radius: 45%;
        animation: movePerfilImg 1.5s 1;
        transform: translateX(80%);
        animation-fill-mode: forwards;
    
    }
    @keyframes movePerfilImg {
        0%{transform: translateX(80%); opacity: 0;}
        100%{transform: translateX(-20%); opacity: 1;}
    }
    .perfil-img img{
        position: relative;
        left: 0px;
        top:-25px;
        opacity: 90%;
        width: 225px;
        height: 400px;
    }
}
/************************* tablet ****************************/

@media (max-width:999px) and (min-width:500px) {
    .banner{
        width: 100%;
        height: 700px;
        overflow-x: hidden;
    }
    .banner img{
        width: 100%;
        height: 700px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 80%;
    
    }
    .banner-h1{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 60vw;
        height: 200px;
        left: -60vw;
        top: 350px;
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff; 
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        animation: moveH1 1.5s 1;
        transform: translateX(-60vw);
        animation-fill-mode: forwards;      
    }
    @keyframes moveH1 {
        0%{transform: translateX(-60vw); opacity: 0;}
        100%{transform: translateX(80vw); opacity: 1;}
    }
    h1{
        font-size: 18px;
    }
    .banner-h1 .btn-cv{
        text-decoration: none;
        width: 115px;
        padding: 2.5px;
        height: 30px;
        cursor: pointer;
        color: white;
        font-size: 12px;
        font-weight: 600;
        border: 1px solid white;
        border-radius: 20px;
        background-color: transparent;
    }
    .banner-h1 .btn-cv:hover {
        transition: 0.5s;
        color: black;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid white;
        border-radius: 20px;
        background-color: white;
        opacity: 90%;
    }
    .banner-h1 p {
        margin-top: 15px;
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(182, 181, 181, 0.25);
    }
    .banner-h1 span{
        font-size: 28px;
        font-weight: 600;
        font-family: 'Noto Serif';
    }
     .perfil-img{
        background-color: black;
        position: relative;
        width: 200px;
        height: 280px;
        left: 30%;
        top: -150px;
        overflow: hidden;
        border-radius: 45%;
        opacity: 70%;
        animation: movePerfilImg 2s 1;
        animation-fill-mode: forwards;
    
    }
    @keyframes movePerfilImg {
        0%{opacity: 70%;}
        100%{ opacity: 100%;}
    }
    .perfil-img img{
        position: relative;
        left: -10px;
        top:-40px;
        opacity: 90%;
        width: 210px;
        height: 350px;
    }
}
/************************* mobile ****************************/
@media (max-width:499px) {
    .banner{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
    .banner img{
        width: 100%;
        height: 700px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 68%;
    
    }
    .banner-h1{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 200px;
        height: 200px;
        left: -50vw;
        top: 320px;
        
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;   
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        animation: moveH1 1.5s 1;
        transform: translateX(-50vw);
        animation-fill-mode: forwards;
    }
    @keyframes moveH1 {
        0%{transform: translateX(-50vw); opacity: 0;}
        100%{transform: translateX(50vw); opacity: 1;}
    }
    h1{
        font-size: 16px;
    }
    .banner-h1 .btn-cv{
        text-decoration: none;
        width: 115px;
        padding: 2.5px;
        height: 30px;
        cursor: pointer;
        color: white;
        font-size: 12px;
        font-weight: 600;
        border: 1px solid white;
        border-radius: 20px;
        background-color: transparent;
        transition-duration: 0.5s;
    }
    .banner-h1 .btn-cv:hover {
        transition: 0.5s;
        color: black;
        font-size: 12px;
        font-weight: 600;
        border: 1px solid white;
        border-radius: 20px;
        background-color: white;
        opacity: 90%;
    }
    .banner-h1 p {
        margin-top: 15px;
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(182, 181, 181, 0.25);
    }
    .banner-h1 span{
        font-size: 16px;
        font-weight: 600;
        font-family: 'Noto Serif';
    }
     .perfil-img{
        background-color: black;
        position: relative;
        width: 150px;
        height: 240px;
        left: 0%;
        top: -150px;
        overflow: hidden;
        border-radius: 45%;
        opacity: 70%;
        animation: movePerfilImg 2s 1;
        animation-fill-mode: forwards;
    
    }
    @keyframes movePerfilImg {
        0%{opacity: 70%;}
        100%{ opacity: 100%;}
    }
    
    .perfil-img img{
        position: relative;
        left: -15px;
        top:-25Px;
        opacity: 90%;
        width: 185px;
        height: 290px;
    }
}
