*{
  padding: 0;
  margin: 0;
}

.mat-toolbar{
  background-color: black;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mat-toolbar span{
  font-size: 30px;
  margin-left: 30px;
  font-family: 'Noto Serif';
    font-weight: 600;
}

.btnMovilVersion{
  display: none;
}
.list-link{
  width: 300px;
  display: flex;
 justify-content: space-around;
}
.list-link li{
  font-family: 'Noto Serif';
    font-weight: 600;
  list-style: none;
}
.list-link li a {
  text-decoration: none;
}